---
import LegalLayout from '../../layouts/LegalLayout.astro';
---
<LegalLayout
  title="Terms of Use"
  description="Website terms of use for EXIT Realty content, trademarks, disclaimers, and applicable law."
  source={{ label: 'EXIT Realty Central terms', url: 'https://www.exitrealtycentral.com/terms' }}
>
  <p>
    Welcome to EXIT Realty Corp. International's web site, exitrealty.com (referred to as “the website”.
    We (referred to as “EXIT Realty Corp. International“ or “ERCI”) are cognizant of the importance of
    protecting the privacy of information collected about our customers and visitors to the website. The
    website has been designed to provide visitors and customers with access to information about ERCI, our
    network of independently owned and operated EXIT Affiliates and their network of sales professionals,
    residential and commercial real estate listings, real estate-related information as well as additional
    information that we think may be of interest to you. To provide the most beneficial and safe experience
    to all visitors and customers to this website, we have established these Terms of Use. By accessing any
    areas of the website, you agree to abide by the terms set forth below. For your convenience, ERCI may
    provide links to various other web sites that may be of interest to you. However, ERCI does not control
    such web sites and is not responsible for their content nor is it responsible for the accuracy or
    reliability of any information, data, opinions, advice, or statements contained within such web sites. By
    using this website you signify your agreement to ERCI’s Terms of Use, which is inclusive of our Privacy
    Policy. Your continued use of the website following the posting of any changes to these terms means you
    will accept those changes. ERCI has the exclusive right to change or revise these Terms of Use at any
    time by updating this posting. You should visit this page from time to time to review the then-current
    Terms of Use because they are binding on you. If you do not agree with our Terms of Use and Privacy
    Policy, please do not use this site.
  </p>

  <h2>Trademarks &amp; Copyright Notice</h2>
  <p>
    EXIT Realty Corp. International (“EXIT”) operates a real estate Franchise system, designed to enable
    independent real estate brokerage offices to benefit from brand name recognition utilizing certain trade
    names, service Marks, trademarks and logos. EXIT is the owner of several famous trademarks that are used
    in connection with its business, including the Mark “EXIT” (U.S. Federal Registration No. 2165469 and
    Canadian Registration No. TMA 484982) and the following trademarks:
  </p>

  <h3>In Canada</h3>
  <ul>
    <li>AH-UM AMERICA ®</li>
    <li>EXIT ®</li>
    <li>EXIT ® (with Design)</li>
    <li>EXIT REALTY, A SMART MOVE! ®</li>
    <li>I'M SOLD ®</li>
    <li>LOVEXIT ®</li>
    <li>REAL ESTATE RE-INVENTED ®</li>
    <li>TEAL IS THE NEW GREEN ®</li>
    <li>THE SMART CHOICE ®</li>
    <li>THINK SMART. THINK EXIT. ™</li>
  </ul>

  <h3>In U.S.</h3>
  <ul>
    <li>AH-UM AMERICA®</li>
    <li>EXIT ®</li>
    <li>EXIT ® (with Design)</li>
    <li>I'M SOLD ®</li>
    <li>LOVEXIT ®</li>
    <li>TEAL IS THE NEW GREEN ®</li>
    <li>THINK SMART. THINK EXIT. ™</li>
    <li>YOUR HOME, NEXT EXIT ™</li>
  </ul>

  <h3>Global</h3>
  <ul>
    <li>Australia: EXIT, EXIT (&amp; Design)</li>
    <li>Europe: EXIT</li>
    <li>South Africa: EXIT, EXIT (&amp; Design)</li>
  </ul>

  <p>
    All of the foregoing are known as “Marks.” ERCI has been continuously using the “EXIT” Marks with its
    services since 1996. There are materials on this website that are copyrighted and are protected by
    copyright laws. You may access, download and print materials on this website for your personal and
    non-commercial use (any print out of this website, or portions of the website, must include ERCI's
    copyright notice). Unless otherwise specified, you may not copy, modify, distribute, transmit, display,
    reproduce, publish, license, create derivative works from, frame in another web site, use on any other
    web site, transfer or sell any information obtained from this web site, without written permission from
    ERCI.
  </p>

  <h2>Mapping Technology</h2>
  <p>
    The mapping technology utilized on this website and the data, graphics and imaging accessible therein
    is provided under license from Google, Inc. and/or Microsoft Corporation. Google data, graphics and
    imaging are subject to Google’s Terms of Use and Google’s Legal Notices.
  </p>

  <h2>Disclaimer</h2>
  <p>
    THE MATERIALS CONTAINED IN THIS WEBSITE ARE PROVIDED “AS IS“ WITHOUT ANY EXPRESS OR IMPLIED WARRANTY OF
    ANY KIND. IN NO EVENT SHALL ERCI OR ITS SUBSIDIARIES BE LIABLE FOR ANY DAMAGES WHATSOEVER ARISING OUT OF
    THE USE OF, OR INABILITY TO USE, THE WEBSITE, INCLUDING BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL,
    SPECIAL OR CONSEQUENTIAL DAMAGES. BECAUSE SOME JURISDICTIONS PROHIBIT THE EXCLUSION OR LIMITATION OF
    LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. ERCI DOES
    NOT WARRANT THE ACCURACY OR COMPLETENESS OF THE INFORMATION, TEXT, GRAPHICS, LINKS OR OTHER ITEMS
    CONTAINED WITHIN THESE MATERIALS. ERCI MAY MAKE CHANGES TO THIS WEB SITE AT ANY TIME WITHOUT NOTICE.
    ONLY PORTIONS OF THE EXIT FORMULA (WHICH IS THE BASIS OF THE EXIT SYSTEM) ARE DISCLOSED IN THE CONTEXT
    OF THE WEBSITE. ERCI STRIVES TO KEEP THE INFORMATION ON THIS SITE ACCURATE AND CURRENT, ERCI CANNOT
    GUARANTEE THE ACCURACY, COMPLETENESS OR TIMELINESS OF THE INFORMATION. INFORMATION WITHIN THE ERCI
    WEBSITE MAY CONTAIN TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS. ERCI RESERVES THE RIGHT TO MAKE
    CHANGES, CORRECTIONS AND/OR IMPROVEMENTS TO THE INFORMATION CONTAINED WITHIN THIS WEBSITE, AT ANY TIME,
    WITHOUT NOTICE.
  </p>

  <h2>Applicable Law</h2>
  <p>
    ERCI, from its offices within the City of Mississauga, the Province of Ontario, Canada, controls this
    website. As such, the laws of the Province of Ontario will govern these disclaimers, terms and
    conditions. ERCI reserves the right to make changes to its website and these disclaimers, terms and
    conditions at any time. You hereby irrevocably and unconditionally consent to submit to the exclusive
    jurisdiction of the courts of the Province of Ontario, Canada, for any litigation arising out of or
    relating to the use of the website, waive any objection to the venue of any such litigation in the
    Ontario courts and agree not to plead or claim in any Ontario court that such litigation brought therein
    has been brought in an inconvenient forum.
  </p>
  <p>
    The provisions of these Terms of Use are intended to be severable. If for any reason any provision of
    these Terms of Use is held invalid or unenforceable in whole or in part in any jurisdiction, such
    provision shall, as to such jurisdiction, be ineffective to the extent of such invalidity or
    unenforceability without in any manner affecting the validity or enforceability thereof in any other
    jurisdiction or the remaining provisions hereof in any jurisdiction.
  </p>

  <h2>Not Intended to Offer to Sell an EXIT Franchise</h2>
  <p>
    Nothing on this website site should be regarded as an offer to sell an EXIT Realty franchise to the
    residents of any jurisdiction in which the franchise must be registered before it is offered and sold.
    Nor are contents of this website otherwise directed to residents of such jurisdictions. No EXIT Realty
    franchise will be sold in any such jurisdiction until the offering has been exempted from the
    jurisdiction's requirements, or until the offering has been registered and the required disclosure
    document has been delivered to the prospective franchisee, in compliance with applicable law.
  </p>
</LegalLayout>
